* {
	color: white;
	font-family: 'Exo 2', sans-serif;

}

body { 
	background: rgb(77, 0, 22);
	display: flex;
	flex-direction: column;
	margin: 0;
}
header {
	flex: 0.20;
	background: rgb(90, 0, 22);
	border-bottom: black 2px solid;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: 7px 6px 21px 0 rgba(0,0,0,0.75);
}

h1 {
	float: left;
	margin-left: 30px;
}

.navlink {
	display: inline-block;
	margin: 18px 10px 0 10px;
}

main { 
  font-size: 0;
  flex-wrap: wrap;
  flex-flow: row wrap; 
  display: flex;
}

main div { 
  flex: auto; 
  width: 150px; 
  margin: 15px; 
  box-shadow: 7px 6px 21px 0 rgba(0,0,0,0.75);
}

main div img { 
  width: 100%; 
  height: auto;
}


@media screen and (max-width: 700px) {
	.nav { display: none; }
	h1 { width: 100%; text-align: center; margin-left: 0; }
}